body {
    margin: 0px;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;

    color: #333;
}

*::before
*::after{
    box-sizing: border-box;
}


.header {
    width: 100%;
    height: 100vh;

    background: url(../images/M3-Homepage-Desktop-LHD.jpeg) center no-repeat; 
    background-size: cover;
}


.header-line {
    padding-top: 1.5%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
 .header-logo {
    margin: 6px;
    cursor: pointer;
 }

.products {
    display: flex;
    align-items: center;
}

.navigation {
    display: inline-block;
    justify-content: space-around;
}

.menu {
    position: absolute;
    right: 0; top: 0;
    width: 20%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    transition: 0.5s;
    transform: translateX(+100%);
}

.menu_active {
    transform: translateX(0%);
}

.menu-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vh;
    height: 100vh;
    z-index: 10;
    
}

.menu_active .menu-overlay {
    display: block;
    backdrop-filter: blur(8px);
}

.menu-btn {
    color: #171a20;
    text-decoration: none;
    font-weight: 500;
    font-size: 15px;        
    background-color: transparent;
    padding: 4px 8px;
    margin: 6px;
    border-radius: 12px;
    transition: background-color 0.3s linear;
}

.menu-btn:hover {
    background-color: #f5f5f5; 
    backdrop-filter: blur(8px);    
}

.close-menu-btn {
    position: absolute;
    background-color: transparent;
    padding: 10px 10px;
    border-radius: 10px;
    transition: background-color 0.3s linear;
    top: 20px;
    right: 20px;
}

.close-menu-btn:hover {
    background-color:#e2e3e3;
    backdrop-filter: blur(8px);
}

.menu-list {
    display: flex;
    justify-content: space-around;
    height: 50%;
    flex-direction: column;
}

.menu-list-button {
    margin: 5px;
    padding: 10px 50px;
    transition: background-color 0.3s linear;
    text-decoration: none;
    color: #393c41;
    font-size: 13px;
    font-weight: 700;
    border-radius: 5px;
    text-align: left;
}

.menu-list-button:hover {
    background-color: #d0d1d2;
}

.nav-item {
    color: #171a20;
    text-decoration: none;
    font-weight: 500;
    font-size: 15px;        
    background-color: transparent;
    padding: 4px 8px;
    margin: 6px;
    border-radius: 12px;
    transition: background-color 0.3s linear;
    
}

.nav-item:hover {
    background-color: #f5f5f5; 
    backdrop-filter: blur(8px);
}


.header-title {
    font-size: 40px;
    text-align: center;
    display: flex;       
    margin-top: 3%;
    justify-content: space-around;
}

.header-title2 {
    font-weight: inherit;
    text-align: center;       
}

.touchless-delivery {
    color: #171a20;
    font-weight: 500;
    font-size: 20;
    margin-right: 8px;
    transition: color 0.3s linear;
}

.touchless-delivery:hover{
    color: brown;
}

.down-bth {
    width: 100%;   
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 25%;
}

.button {
    display: inline-block;
    font-size: 5px;
    font-weight: 100;       
    padding: 8px 70px;
    text-decoration: none;
    justify-content: space-around;
    text-align: center;  
    border-radius: 5px; 
    user-select: none; 
    line-height: 1.5;    
    font-size: 1rem;
    margin: 10px;
    box-sizing: border-box;
}
.button-grey {
    background-color: rgba(23, 26, 32, 0.8);
    backdrop-filter: blur(8px);
    color: white;
}

.button-white {
    background-color:rgba(244, 244, 244, 0.65);
    backdrop-filter: blur(8px);
    color: #171a20;                
}

.tds-icon{
    background: transparent;
    block-size: 24px;
    content: "";
    display: block;
    inline-size: 24px;
    max-inline-size: 100%;
    min-block-size: 24px;
    min-inline-size: 24px;
    overflow: hidden;
    text-indent: -9999px;
}

.sign-in-page {
    width: 100%;
    height: 100vh;

    background-color: white; 
    background-size: cover;
}

.header-line-sign-in {
    display: flex;
    justify-content: space-between;
    padding-top: 1.5%;
    box-sizing: border-box;
    padding: 20px;
}

.navigation-button {
    background-color: #fff;
    padding: 4px 8px;
    margin: 6px;
    border-radius: 12px;
    transition: background-color 0.3s linear;
    display: inline-table;
    
}

.navigation-button:hover {
    background-color: #f5f5f5;
}

.nav-button {
    color: #171a20;
    text-decoration: none;
    font-weight: 500;
    font-size: 15px;
    margin: 5px;       
}

.sign-in-block {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);

    
}

.sign-in-title {
    cursor: pointer;
}

.linebreak {
    color: #5c5d61;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    margin: 40px auto;
    white-space: nowrap;
}

.linebreak::after, .linebreak::before {
    content: "";
    display: inline-block;
    width: 40%;
    height: 1px;
    margin: 0 8px;
    background-color: #e2e4e4;
}

.tds-text--500 {
    font-weight: 500!important;
}

.input-form {
    align-items: center;
    display: block;
}

.input-form input {
    padding: 8px 50px;
    width: 100%;
    font-size: 15px;
    background-color: none;
    outline: none;
    box-sizing: border-box;
    margin: 10px;
    border-radius: 30px;
} 
.input-email {
    background-color: #f5f5f5;
    color: #393c41;    
}

.input-next {
    background-color: #3d69e1;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s linear;
}

.input-next:hover {
    background-color:  #2e4994;;
}

.input-create-account {
    background-color: #fff;
    color: #171a20;
    cursor: pointer;
    transition: color 0.3s linear;
    transition: background-color 0.3s linear;
}

.input-create-account:hover {
    background-color: #000;
    color: #fff;
}

.forgot {
    font-weight: 500;
    font-size: 12px;
    text-decoration: underline;   
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-top: 16px;    
    margin-inline-end: auto;
    margin-inline-start: auto;
    text-align: center!important;
    
}

.forgot-link {
    color: #171a20;
    transition: color 0.3s linear;
    cursor: pointer;
}

.forgot-link:hover {
    color: brown; 
 }

 .separator {
    padding: 0 0.5rem;
    cursor: default;
 }

 .footer {
    position: absolute;
    top: 97%;
    left: 50%;
    transform: translate(-50%, -50%);
    justify-content: space-around;
    margin: 3px;
 }

 .footer-links {
    color: #5c5d61;
    text-decoration: none;
    font-size: 13px;
    font-weight: 500;
    transition: text-decoretion 0.3s linear;
    transition: color 0.3s linear;
 }
 .footer-links:hover {
    text-decoration: underline;
    color: black;
 }